/*---GRID---*/
.galery-grid {
  display: grid;
  grid-auto-rows: 100px;
  gap: .5rem;
  grid-auto-flow: row dense;
}

.sites:nth-child(11n+1) {
  grid-column: span 1;
}

.sites:nth-child(11n+4) {
  grid-column: span 2;
  grid-row: span 1;
}

.sites:nth-child(11n+6) {
  grid-column: span 2;
  grid-row: span 1;
}

.sites:nth-child(11n+7) {
  grid-column: span 1;
  grid-row: span 2;
}

.sites:nth-child(11n+8) {
  grid-column: span 2;
  grid-row: span 2;
}

.sites:nth-child(11n+9) {
  grid-row: span 3;
}

/*---CARD---*/

.sites {
  position: relative;
  display: flex;
}

.background {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  object-fit: cover;
}

.site__info {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}

.name-site {
  margin-inline-start: .5rem;
  font-weight: 400;
  font-size: .7rem;
}

.appreciate {
  margin-inline-end: .5rem;
  padding-inline-start: .5rem;
  padding-inline-end: .5rem;
  background: var(--blue-xlight);
  opacity: 70%;
  border-radius: .2rem;
  display: flex;
  gap: .5rem;
}

.num {
  color: var(--white);
  font-size: .7rem;
}

.appreciate li {
  color: var(--white);
  list-style: none;
  margin: 0;
  font-size: .7rem;
}

/*---media Q---*/

@media all and (min-width: 320px) {
  .galery-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
